<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pick Company and Category</title>
    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

    <h1>Pick a company and category:</h1>

    <form id="companyForm" action="{{ url_for('pick_category_bp.home_page') }}" method="post">
        <!-- Select a company -->
        <label for="companies">Select a company:</label>
        <select name="selected_company" id="company" onchange="submitCompanyForm()">
            {% for company in companies %}
                <option value="{{ company }}">{{ company }}</option>
            {% endfor %}
        </select>

        <br>

        <!-- Add a submit button for the company selection -->
        <input type="submit" value="Submit Company">
    </form>

    <!-- Add a line break for better separation -->
    <hr>

    <h2>Please pick a category:</h2>

    <form id="categoryForm" action="{{ url_for('pick_category_bp.home_page') }}" method="post">
        <!-- Select a category based on the chosen company -->
        <label for="categories">Select a category:</label>
        <select name="selected_category" id="category">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>

        <br>

        <input type="submit" value="Submit Category">
    </form>

    <script>
        function submitCompanyForm() {
            document.getElementById("categoryForm").submit();
        }
    </script>

</body>

</html>
