<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer Page</title>
    <!-- Add any additional styles or scripts as needed -->
</head>

<body>
    <h1>Timer Page</h1>

    <div id="timer">60</div>

    <button onclick="startTimer()">Start</button>
    <button onclick="pauseTimer()">Pause</button>
    <button onclick="restartTimer()">Restart</button>
    <button onclick="doneWithTable()">Done with this table, get a new one</button>

    <label>Get a different table:</label>
    <button onclick="getNearbyTable()">Get New Table Nearby</button>
    <button onclick="getRandomTable()">Get Random Table</button>

    <script>
        let timeLeft = 60;
        let timer;

        function startTimer() {
            timer = setInterval(() => {
                if (timeLeft <= 0) {
                    clearInterval(timer);
                } else {
                    document.getElementById("timer").textContent = timeLeft;
                    timeLeft--;
                }
            }, 1000);
        }

        function pauseTimer() {
            clearInterval(timer);
        }

        function restartTimer() {
            timeLeft = 60;
            document.getElementById("timer").textContent = timeLeft;
        }

        function doneWithTable() {
            window.location.href = "{{ url_for('ready_bp.ask_ready_question_again', company=company|safe, table_number=table_number) }}";
        }

        function getNearbyTable() {
            window.location.href = "{{ url_for('goto_table_bp.set_table', company=company|safe, old_table_number=table_number, method='nearby') }}";
        }

        function getRandomTable() {
            window.location.href = "{{ url_for('goto_table_bp.set_table', company=company|safe, old_table_number=table_number, method='random') }}";
        }
    </script>
</body>

</html>
